*{
    background:white;
}
body {
    background-color: #1d1d1d;
    margin: auto;
}

h1 {
    color: #2eb912d9;
    box-sizing: content-box;
    font-size: 2rem;
    padding-top: 10px;
    padding-left: 20px;
    /* margin: 10px; */
    font-family: 'Orbitron', sans-serif;
}

form {
    margin: 50px;
    gap: 2rem;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>* {
    width: 80%;
}

input {
    font-size: 1.2rem;
    font-family: "JetBrains Mono", "Source Code Pro", sans-serif;
    padding: 10px;
    min-height: 500px;
    line-height: 1rem;
    /* vertical-align: top; */
    /* text-align: ; */
    background-color: #1b1c1b;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    box-sizing: border-box;
    border-radius: 5px;
    border-radius: 10px;
    border: 1px solid #9c9b9b;

}


input::placeholder {
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
    padding-left: 20px;
    color: #92db92d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: fit-content;
    border-radius: 10px;
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 10px #c7c7c7e9;
    transition-duration: 0.45s;
    border: 1px solid #393939;
}

button:hover {
    background-color: #5e5d5d;
    box-shadow: 0px 0px 5px #e6e6e6;
}
