<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diff utility</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Orbitron&family=Source+Code+Pro:wght@200;300&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>Diff Utility</h1>
    <% console.log(responses) %>
        <% responses.forEach(function(response) { %>
            <% if(response.startsWith('+')){ %>
                <p style="color: green">
                    <%= response %>
                </p>
                <% } else if(response.startsWith('-')){ %>
                    <p style="color: red">
                        <%= response %>
                    </p>
                    <% } else { %>
                        <p style="color: blue">
                            <%= response %>
                        </p>
                        <% }}); %>


</body>

</html>