<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% console.log(responses) %>
        <% responses.forEach(function(response) { %>
            <% if(response.startsWith('+')){ %>
                <p style="color: green">
                    <%= response %>
                </p>
                <% } else if(response.startsWith('-')){ %>
                    <p style="color: red">
                        <%= response %>
                    </p>
                    <% } else { %>
                        <p style="color: blue">
                            <%= response %>
                        </p>
                        <% }}); %>


</body>

</html>